<!DOCTYPE html>
<html>
  <head>
    <title>Mad-libs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>A fantastical Adventure!</h1>
    <p>One day, *person 1* and *person 2* were walking through the woods, when suddenly a giant *animal* appeared. "*exclamation*!" *person 1* cried. The two of them *verb* as quickly as possible, and when they were safe, *person 1* and *person 2* gave each other a giant *noun*.</p>
  </body>
</html>